<div id="login">
  <div class="login-container">
    <div class="login-header">
      <h1>Welcome Back</h1>
      <p>Please sign in to your account</p>
    </div>

    <form id="loginForm" [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
  <label for="username">Username</label>
  <div class="input-wrapper">
    <input 
      type="text" 
      id="username" 
      name="username" 
      class="form-control" 
      placeholder="Enter your username"
      required
      formControlName="UserName"
      [class.valid]="form.controls['UserName'] && form.controls['UserName'].valid"
      [class.invalid]="form.controls['UserName'] && form.controls['UserName'].invalid" />

    <span class="error-message" 
      id="usernameError" 
      [class.show]="form.controls['UserName'] && form.controls['UserName'].invalid">
  @if (form.controls['UserName'].errors?.['required']) {
    Username is required
  }
  @if (form.controls['UserName'].errors?.['pattern']) {
    Please enter a valid username
  }
  @if (form.controls['UserName'].errors?.['minlength']) {
    Minimum 3 characters required
  }
</span>


    <span class="success-message" 
          id="usernameSuccess" 
          [class.show]="form.controls['UserName'] && form.controls['UserName'].valid">
      Valid username
    </span>
  </div>
</div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <input 
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            placeholder="Enter your password"
            required
            formControlName="Password"
            [class.valid]="form.controls['Password'] && form.controls['Password'].valid"
            [class.invalid]="form.controls['Password'] && form.controls['Password'].invalid" />

          <span class="error-message" 
                id="passwordError" 
                [class.show]="form.controls['Password'] && form.controls['Password'].invalid">
            @if (form.controls['Password'].errors?.['required']) {
              Password is required
            }
          </span>

          <span class="success-message" 
                id="passwordSuccess" 
                [class.show]="form.controls['Password'] && form.controls['Password'].valid">
            Password looks good
          </span>
        </div>
      </div>

      <button type="submit" class="btn-primary" id="submitBtn">
        <span class="button-text">Sign In</span>
      </button>
    </form>

    <!-- <div class="forgot-password">
      <a href="#">Forgot your password?</a>
    </div> -->

    <div class="form-footer">
      <p>Don't have an account? <a routerLink="/register">Sign up here</a></p>
    </div>
  </div>
</div>
