<div id="login">
  <div class="login-container">
    <div class="login-header">
      <h1>Welcome Back</h1>
      <p>Please sign in to your account</p>
    </div>

    <form id="loginForm" [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="input-wrapper">
          <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            placeholder="Enter your email"
            required
            formControlName="email"
            [class.valid]="form.controls['email'].touched && form.controls['email'].valid"
            [class.invalid]="form.controls['email'].touched && form.controls['email'].invalid" />

          <span class="error-message" 
                id="emailError" 
                [class.show]="form.controls['email'].touched && form.controls['email'].invalid">
            @if (form.controls['email'].errors?.['required']) {
              Email is required
            }
            @if (form.controls['email'].errors?.['email']) {
              Please enter a valid email address
            }
          </span>

          <span class="success-message" 
                id="emailSuccess" 
                [class.show]="form.controls['email'].touched && form.controls['email'].valid">
            Valid email address
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <input 
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            placeholder="Enter your password"
            required
            formControlName="password"
            [class.valid]="form.controls['password'].touched && form.controls['password'].valid"
            [class.invalid]="form.controls['password'].touched && form.controls['password'].invalid" />

          <span class="error-message" 
                id="passwordError" 
                [class.show]="form.controls['password'].touched && form.controls['password'].invalid">
            @if (form.controls['password'].errors?.['required']) {
              Password is required
            }
          </span>

          <span class="success-message" 
                id="passwordSuccess" 
                [class.show]="form.controls['password'].touched && form.controls['password'].valid">
            Password looks good
          </span>
        </div>
      </div>

      <button type="submit" class="btn-primary" id="submitBtn">
        <span class="button-text">Sign In</span>
      </button>
    </form>

    <div class="forgot-password">
      <a href="#">Forgot your password?</a>
    </div>

    <div class="form-footer">
      <p>Don't have an account? <a routerLink="/register">Sign up here</a></p>
    </div>
  </div>
</div>
